<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8" />

    <!-- import CSS -->

    <link

      rel="stylesheet"

      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"

    />



  </head>

  <body>

    <el-container id="app" style="height: 700px; background-color: rgb(235, 36, 36);">

      <el-main >

        <el-row>

          <el-col :span="12" offset="6">

        <el-card class="box-card" style="height: 500px; " >

        <el-form :model="user" label-width="auto" >

            <el-form-item label="用户名">

                <el-input

                v-model="user.userName"

                placeholder="请输入用户名"

            ></el-input>

            </el-form-item>

          <el-form-item label="绑定邮箱">

            <el-input

            v-model="user.email"

            placeholder="请输入邮箱"

          ></el-input>

          </el-form-item>

          <el-form-item label="性别">

            <el-radio v-model="user.radio" label="1" border>男</el-radio>

            <el-radio v-model="user.radio" label="2" border>女</el-radio>

          </el-form-item>



          <el-form-item label="所在城市">

            <el-input

            v-model="user.city"

            placeholder="请输入当前城市"

          ></el-input>

          </el-form-item>

          <el-form-item label="出生日期">

            <el-date-picker

              v-model="user.birthday"

              align="right"

              type="date"

              placeholder="请选择出生日期"

              :picker-options="pickerOptions">

            </el-date-picker>

          </el-form-item>

          <el-form-item label="爱好">

            <el-checkbox-group v-model="user.checkList">

              <el-checkbox label="旅游"></el-checkbox>

              <el-checkbox label="跑步"></el-checkbox>

              <el-checkbox label="游戏"></el-checkbox>

              <el-checkbox label="花钱"></el-checkbox>

            </el-checkbox-group>

          </el-form-item>

          <el-form-item style="text-align: center;">

            <el-button

            type="primary"

            plain

          >注册</el-button>

          <el-button

            plain

          >取消</el-button>

          </el-form-item>

        </el-form>



      </el-card>

    </el-row>

  </el-col>

      </el-main>

    </el-container>

  </body>



  <!-- import Vue before Element -->

  <script src="https://unpkg.com/vue/dist/vue.js"></script>

  <!-- import JavaScript -->

  <script src="https://unpkg.com/element-ui/lib/index.js"></script>





  <script>

    const app = new Vue({

      el: "#app",

      data: {

        user: {

          userName: "",

          password: "",

          email:"",

          city:"",

          birthday:"",

          hobby:"",

          radio: '1',

          checkList: ['','','','']



        },

      },

    })

  </script>



  



</html>